<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Contact Information</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <center>
          <ul class="contact-list">
            <li class="p-name">
              <span>Resume:</span>
              </li>
              {%- if site.email -%}
              <li><a class="u-email" href="">Resume Download</a></li>
              {%- endif -%}
          </ul>
        </center>
      </div>

      <div class="footer-col footer-col-3">
        <center>
          <span>Social Media:</span>
          {%- include social.html -%}
        </center>
      </div>

      <!-- <div class="footer-col footer-col-2">
        <p>{{- site.description | escape -}}</p>
      </div> -->
    </div>

  </div>

</footer>
