---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <!-- resume, and other links here, location, github, resume, etc. -->
  <!-- maybe a nav bar here that shows each of the sections -->

  <div>
    <h1>About Me</h1>
    <p>Hi! I am currently a senior Computer Science major at the University of Maryland, College Park. Hoping to graduate in May 2019.</p>
    <p>My experience in programming comes from academic courses, work experiences, and side projects</p>
    <p>I am primarily interested in backend software engineering, big data analysis/visualization, web applications, and parallel computating.</p>
    <p>Feel free to scroll down to read more details information, or check out my poorly maintained blog!</p>
  </div>

  <div>
    <h1>Work Experience</h1>
    <p>During my college career, I've had the pleasure of gaining work experience from 3 internships.</p>
    <hr />
    <h3>Center for Advanced Transportation Technology Lab</h3>
    <p><i>Location: College Park, Maryland</i></p>
    <p><i>Role: Software Development Intern</i></p>
    <p><i>Duration: November 2015 - November 2016 (1 year)</i></p>
    <p>Maintained and developed features for various web applications, which provided data visualization and analysis of transportation data.</p>
    <p>Tools used: <b>Python, Javascript, HTML/CSS, Django, Git, Actionscript, Flex</b></p>

    <hr />
    <h3>Leidos</h3>
    <p><i>Location: Gaithersburg, Maryland</i></p>
    <p><i>Role: Software Engineering Intern</i></p>
    <p><i>Duration: June 2017 - August 2017 (3 months)</i></p>
    <p>Ran penetration tests to evaluate an open source endpoint security platform. Made improvement / bug fixes to the security platform</p>
    <p>Tools used: <b>C, Python, Kali Linux, Javascript, HTML/CSS, OWASP</b></p>

    <hr />
    <h3>Qualtrics</h3>
    <p><i>Location: Seattle, Washington</i></p>
    <p><i>Role: Software Engineering Intern</i></p>
    <p><i>Duration: May 2018 - August 2018 (3 months)</i></p>
    <p>Developed a microservice for providing data transformations to support data visualization exporting. Worked on all phases of the service's development, from design/architecture planning to deployment.</p>
    <p>Tools used: <b>NodeJS, Javascript, HTML/CSS, Docker, Jenkins, Gitlab</b></p>

  </div>

  <div>
    <h1>Education</h1>
    <hr />

    <h3>University of Maryland</h3>
    <p>I am currently finishing up my Bachelors in Computer Science at the University of Maryland, College Park.</p>
    <p>In addition to my major, I graduated from the the Advanced Cybersecurity Experience for Students (ACES) living and learning program, and will also be finishing up an Astronomy Minor.</p>
    <hr />

    <h3>Future</h3>
    <p>After finishing my Bachelors at the University of Maryland, I would like to persue a Master's degree in Computer Science (or a related field) to further my education!</p>

  </div>

  <div>
    <h1>Side Projects</h1>
    <p>In my free time I enjoy working on small side projects to experiment with new technologies and have fun.</p>
    <p>As a short disclaimer: All of these projects are still WIP, and many were developed at a time where I was not aware of many software development best practices =)</p>
    <hr />

    <h3>UMD Courses Tool Suite</h3>
    <p>An assortment of web tools regarding courses at the University of Maryland, College Park. The two main features are currently tracking CS upper level registration, and a more improved course search.</p>
    <ul>
      <li><b>Upper Level Computer Science Registration Course Tracker</b> - Tracks the status of UMD's Upper Level CS courses throughout registration period. Space is limited in these classes, so one can use this to see how fast a certain course fills up to determine whether it is realistic to get a spot in it.</li>
      <li><b>Improved Course Search</b> - Allows searching UMD courses by Building/Room and start/end time. UMD's official site only supports basic search functionality, and does not provide these search features.</li>
    </ul>
    <p><i>Related Repositories:</i></p>
    <ul>
      <li><a href="https://github.com/ChristianNguyendinh/cs-upper-level-registration-stats">UMD CS Upper Level Registration Course Tracker</a></li>
      <li><a href="https://github.com/ChristianNguyendinh/umd-course-search">UMD Improved Course Search</a></li>
    </ul>
    <p>Technologies Used: <b>?</b></p>
    <hr />

    <h3>Disk Sweeper</h3>
    <p>CLI for recursively scanning directory/file sizes. It is quite slow. Created to learn the basics of Golang, and because wanted such an application, but didn't trust any of the existing ones on the internet.</p>
    <p><i>Related Repositories:</i></p>
    <ul>
      <li><a href="https://github.com/ChristianNguyendinh/go-disk-sweeper">Go Disk Sweeper</a></li>
    </ul>
    <p>Technologies Used: <b>?</b></p>
    <hr />

    <h3>Final Fantasy XIV Item Companion</h3>
    <p>Web application to assist with crafting in FFXIV. Allows users to search and keep track of items to create/buy for a crafting recipe. Includes links to where players can find said ingredients. Mainly created to become familiar with Django, and to avoid manually performing these steps myself.</p>
    <p><i>Related Repositories:</i></p>
    <ul>
      <li><a href="https://github.com/ChristianNguyendinh/ffxiv_companion">FFXIV Companion</a></li>
    </ul>
    <p>Technologies Used: <b>?</b></p>
    <hr />

    <h3>Hearthstone Stat Tracker</h3>
    <p>A basic web application for tracking your statistics in Hearthstone. Mainly created to become familiar with d3.js</p>
    <p><i>Related Repositories:</i></p>
    <ul>
      <li><a href="https://github.com/ChristianNguyendinh/hearthstone-stat-tracker">Hearthstone Stat Tracker</a></li>
    </ul>
    <p>Technologies Used: <b>?</b></p>
    <hr />

  </div>

  <div>
    <h1>Hobbies</h1>
    <p>I'm learning japanese</p>
    <p>I want to be a better cook</p>
    <p>I am a washed up gamer</p>
    <p>Check out my blog</p>
  </div>

</div>
